@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.menu {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.menu-adentro {
  display: flex;
  align-items: center;
}
.hamburguesa {
  width: 40px;
  height: 50px;
  cursor: pointer;
  display: inline-block;
}
.linea {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 7px 0;
}

.menu-mobile {
  display: none;
}
.menu .left {
  width: 50%;
  text-align: center;
}
.menu .right {
  width: 50%;
  text-align: right;
}
.menu-desktop .right div {
  display: inline-block;
  color: white;
  cursor: pointer;
  padding: 10px;
}
.menu .logo {
  width: 200px;
  margin: auto;
}
.menu .logo img {
  width: 100%;
}
.menu a {
  display: inline-block;
  padding: 30px 15px;
  color: white;
  text-decoration: none;
}
.menu a svg {
  fill: white !important;
}
.header {
  padding: 200px 100px;
  background-image: url("/img/header-bg.png") !important;
  background-color: #cccc;
  background-position: right bottom;
  background-size: cover;
}
.header .texto {
  text-align: left;
  font-size: 1em;
  color: white;
}
.header .texto-3 {
  text-align: left;
  font-size: 1em;
  color: white;
  padding-top: 30px;
}
.header .texto-2 {
  text-align: left;
  font-size: 3em;
  color: white;
}
.header .texto-4 {
  text-align: left;
  font-size: 2em;
  color: white;
}
.texto-5 {
  text-align: center;
  font-size: 30px;
  color: black;
  padding-bottom: 50px;
}
.header .boton button {
  display: inline-block;
  padding: 10px 60px;
  background-color: white;
  margin: 40px 0;
  color: black;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.servicios {
  background-color: black;
  color: white;
}
.servicios .titulo {
  padding: 40px 40px;
}
.servicios .titulo {
  padding: 100px 0;
  background-color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}
.servicios .contenido {
  background-color: white;
  color: black;
  padding: 100px 0;
}
.servicios .servicio {
  display: flex;
  margin-bottom: 80px;
}
.servicios .servicio .izquierda {
  width: 35%;
  padding-right: 180px;
}
.servicios .servicio .derecha {
  width: 65%;
}
.servicios .boton-2 button {
  display: inline-block;
  padding: 10px 60px;
  background-color: white;
  margin: 40px 0;
  color: black;
  font-weight: 900;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid black;
}
.servicios .nombre {
  font-size: 30px;
  font-weight: 600;
}
.desplegable {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  border-bottom: 1px solid black;
  padding: 20px;
  align-items: center;
}
.desplegable .desplegable-izquierda {
  width: 10%;
}
.desplegable .desplegable-centro {
  width: 80%;
}
.desplegable .desplegable-derecha {
  width: 10%;
  text-align: right;
}
.desplegables .icon-1 {
  width: 20px;
  background-color: black;
  color: white;
  text-align: center;
  height: 16px;
  padding-top: 2px;
  border-radius: 50%;
  display: inline-block;
}
.desplegables .nombre-2 {
  width: 90%;
  font-size: 15px;
}
.desplegables .icon-2 {
  font-weight: 900;
}
.paquetes {
  padding-bottom: 100px;
  background-color: #ffffff;
}
.paquetes-info {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 60px;
}
.paquetes .paquete {
  width: 30%;
  background-color: #181818;
  color: white;
  margin: auto;
  border-radius: 5px;
  padding: 1rem;
  min-height: 500px;
}
.paquetes .titulo {
  font-size: 50px;
}
.paquete .nombre {
  font-size: 25px;
  margin: 25px 0;
}
.paquete .precio {
  font-size: 26px;
  margin: 15px 0;
}
.paquete .linea {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 30px 0;
}
.paquete .descripcion {
  font-size: 13px;
  padding: 0 20px;
}
.paquete .caracteristicas {
  font-size: 14px;
  margin: 20px 0;
}
.paquete .icono {
  background-color: white;
  color: black;
  height: 15px;
  width: 17px;
  border-radius: 50%;
  padding-top: 2px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  bottom: -2px;
}
.paquetes .boton a {
  display: inline-block;
  padding: 10px 60px;
  background-color: white;
  margin: 40px 0;
  color: black;
  font-weight: 900;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid black;
  text-align: center !important;
}
.boton {
  text-align: center;
}
.paquetes .small-text {
  font-size: 10px;
  margin-top: 50px;
}
.paquetes .small-text-1 {
  margin-top: 150px;
  font-size: 10px;
  text-align: center;
}
.proyectos {
  background-color: #181818;
}
.proyectos .texto {
  text-align: left;
  font-size: 2em;
  color: white;
  margin-bottom: 20px;
}
.proyectos .texto-2 {
  color: white;
}
.proyectos .boton button {
  display: inline-block;
  padding: 10px 60px;
  background-color: white;
  margin: 40px 0;
  color: black;
  font-weight: 900;
  text-decoration: none;
  border-radius: 4px;
}
.cajas-proyectos {
  display: flex;
}
.proyectos .cajas-proyectos .caja-izquierda {
  width: 30%;
  padding-top: 100px;
}
.proyectos .cajas-proyectos .caja-derecha {
  width: 70%;
}
.proyectos .proyecto-img img {
  width: 121%;
}
.proyectos .icon {
  color: white;
  display: inline-block;
  margin-right: 10px;
}
.proyectos .caja-derecha .contador {
  color: white;
  padding: 20px;
}
.nosotros-cajas {
  display: flex;
  padding: 80px 0;
}
.nosotros-cajas .caja-izquierda {
  width: 40%;
}
.nosotros-cajas .caja-izquierda img {
  width: 100%;
}
.nosotros-cajas .caja-derecha {
  width: 60%;
  padding: 4rem;
  padding-top: 80px;
}
.nosotros-cajas .nosotros-img img {
  width: 100%;
}
.nosotros-cajas .titulo {
  font-size: 3em;
}
.nosotros-cajas .texto {
  font-size: 1em;
}

.nosotros {
  position: relative;
}
.nosotros .bg-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.nosotros .bg-div .bg-div-left {
  position: absolute;
  width: 35%;
  height: 100%;
  background-color: #181818;
}
.nosotros .bg-div .bg-div-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background-color: white;
}
.clientes {
  background-color: #ffffff;
}
.clientes .caja-izquierda {
  font-size: 2em;
  border-right: 1px solid black;
  padding-right: 20px;
  width: 40%;
  text-align: center;
  padding-top: 60px;
}

.clientes .caja-derecha {
  width: 60%;
}
.clientes .caja-clientes {
  display: flex;
  padding: 40px 0;
}
.clientes .caja-derecha .nosotros-img img {
  width: 120%;
  padding-left: 80px;
}
.blogs {
  text-align: center;
  padding-bottom: 100px;
  background-color: #ffffff;
}
.info-blog {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 60px;
}
.blogs .info {
  background-color: #f8f8f8;
}
.blogs .blog {
  background-color: #f8f8f8;
}
.blogs .info {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.blogs .small-text-2 {
  font-size: 0.9rem;
}
.blog .boton a {
  display: inline-block;
  padding: 10px 60px;
  background-color: black;
  margin: 40px 0;
  color: white;
  font-weight: 900;
  text-decoration: none;
  border-radius: 4px;
}

.caja-contacto {
  display: flex;
}
.contacto .caja-contacto .caja-izquierda {
  width: 60%;
  padding-right: 90px;
}
.contacto .caja-contacto .caja-derecha {
  width: 40%;
}
.contacto .boton {
  text-align: right;
}
.contacto .boton a {
  display: inline-block;
  padding: 10px 60px;
  background-color: black;
  margin: 40px 0;
  color: white;
  font-weight: 900;
  text-decoration: none;
  border-radius: 4px;
}
.contacto .formulario input {
  display: block;
  width: 100%;
  margin: 25px 0;
  border: none;
  border-bottom: 2px solid black;
  padding: 10px;
  font-size: 12px;
  background-color: transparent;
}
.contacto .caja-contacto .caja-derecha .titulo {
  font-size: 40px;
}
.contacto .caja-contacto .caja-derecha {
  text-align: center;
}
.contacto {
  position: relative;
  padding: 5rem 0;
}
.contacto .bg-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.contacto .bg-div .bg-div-left {
  position: absolute;
  width: 65%;
  height: 100%;
  background-color: #eee;
}
.contacto .bg-div .bg-div-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background-color: #232323;
}
.contacto .caja-derecha {
  background-color: white;
  padding: 3rem;
}

.footer {
  padding: 40px 0;
  background-color: #232323;
  font-size: 14px;
}
.caja-icons {
  display: flex;
}
.caja-icons .caja-izquierda {
  width: 33%;
  padding-right: 80px;
  color: white;
}
.caja-icons .caja-centro {
  width: 33%;
  padding-left: 40px;
  color: white;
}
.caja-icons .caja-derecha {
  width: 33%;
  padding-left: 40px;
  color: white;
}
.caja-icon {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.caja-icon .icon {
  margin-right: 10px;
}

.copyright {
  color: white;
  text-align: center;
  border-top: 1px solid white;
  margin-top: 30px;
  padding-top: 20px;
}
.footer a {
  color: white;
  text-decoration: none;
}

.desplegable {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  border-bottom: 1px solid black;
  padding: 20px;
  align-items: center;
}
.desplegable .desplegable-izquierda {
  width: 10%;
}
.desplegable .desplegable-centro {
  width: 80%;
}
.desplegable .desplegable-derecha {
  width: 10%;
  text-align: right;
}
.desplegable .desplegable-contenido {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition-duration: 0.2s;
}
.desplegable .desplegable-contenido.active {
  transition-duration: 0.2s;
  height: auto;
  padding: 20px 0;
}
.texto-6 {
  text-align: center;
  font-size: 30px;
  color: black;
  padding-bottom: 50px;
}
@media only screen and (max-width: 1000px) {
  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    display: flex;
  }
  .menu .right {
    padding-right: 20px;
  }
  .menu .logo {
    width: 134px;
  }
  .servicios .servicio {
    display: block;
    padding: 20px;
  }
  .header {
    padding: 80px 40px;
  }
  .header .texto-2 {
    font-size: 2em;
  }
  .servicios .servicio .derecha {
    width: 100%;
  }
  .servicios .servicio .izquierda {
    width: 60%;
    padding: 0;
  }
  .paquetes-info {
    display: block;
  }
  .paquetes .paquete {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }
  .cajas-proyectos {
    display: block;
    padding: 20px;
  }
  .proyectos .cajas-proyectos .caja-izquierda {
    width: 100%;
    padding-bottom: 40px;
  }
  .proyectos .cajas-proyectos .caja-derecha {
    width: 100%;
  }
  .nosotros-cajas .caja-derecha {
    width: 100%;
  }
  .nosotros-cajas {
    display: block;
  }
  .nosotros-cajas .caja-izquierda {
    width: 70%;
  }
  .clientes .caja-clientes {
    display: block;
  }
  .clientes .caja-izquierda {
    width: 100%;
  }
  .clientes .caja-derecha {
    width: 100%;
  }
  .caja-contacto {
    display: block;
    text-align: center;
    padding: 20px;
  }
  .contacto .caja-contacto .caja-izquierda {
    width: 100%;
    padding: 0;
  }
  .contacto form {
    width: 80%;
    margin: auto;
  }
  .contacto .caja-contacto .caja-derecha {
    width: 100%;
  }
  .contacto .boton {
    text-align: center;
  }
  .caja-icons {
    display: block;
    padding: 40px;
  }
  .footer {
    width: 100%;
  }
  .caja-icons .caja-izquierda {
    width: 100%;
    padding: 0;
  }
  .caja-icons .caja-centro {
    width: 100%;
    padding: 0;
  }
  .caja-icons .caja-derecha {
    width: 100%;
    padding: 0;
  }
  .info-blog {
    display: block;
  }
  .proyectos .proyecto-img img {
    width: 99%;
  }
  .clientes .caja-derecha .nosotros-img img {
    width: 90%;
  }
  .servicios .titulo {
    padding: 60px;
  }

  .paquetes .titulo {
    text-align: center;
  }
  .texto-5 {
    font-size: 1.5rem;
    padding: 0%;
  }
  .texto-6 {
    font-size: 1.5rem;
  }
  .servicios .contenido {
    padding: 0%;
  }
  .bg-div {
    display: none;
  }
  .blog img {
    width: 100%;
  }
  .contacto {
    padding: 0%;
  }
  .blogs {
    padding: 0%;
  }
  .nosotros .caja-izquierda {
    text-align: center;
    width: 100%;
    padding: 2rem;
  }
}
